{% extends 'cv/cv_base.html' %}

{% block content %}
    <section id="profile">
        <h2 id="profile_header">About me</h2>
        <div>
            
            {% for profile in profiles %}
            <div class="information" id="information">
                <a class="button" id="remove_profile" href="{% url 'profile_remove' pk=profile.pk %}"><span class="glyphicon glyphicon-remove" style='background-color: black;'></span></a>
                <a class="button" id="edit_profile" href="{% url 'profile_edit' pk=profile.pk %}"><span class="glyphicon glyphicon-pencil" style='background-color: black;'></span></a>
                <p>{{ profile.text|linebreaksbr }}</p>
            </div>
            {% endfor %}
                
        </div>
    </section>
    <section id="education">
        <h2 id="education_header">Education</h2>
        <div>
            
            {% for qualification in qualifications %}
            <div class="qualification" id="qualification">
                <h4>{{ qualification.title }}</h4>
                <a class="button" id="remove_qualification" href="{% url 'qualification_remove' pk=qualification.pk %}"><span class="glyphicon glyphicon-remove" style='background-color: black;'></span></a>
                <a class="button" id="edit_qualification" href="{% url 'qualification_edit' pk=qualification.pk %}"><span class="glyphicon glyphicon-pencil" style='background-color: black;'></span></a>
                <p>Completed: {{ qualification.date_completed }}</p>
                <p>{{ qualification.text|linebreaksbr }}</p>
            </div>
            {% endfor %}
                
        </div>
    </section>
    <section id="experiences">
        <h2 id="experience_header">Experience</h2>
        <div>
            
            {% for experience in experiences %}
            <div class="experience" id="experience">
                <h4>{{ experience.title }}</h4>
                <a class="button" id="remove_experience" href="{% url 'experience_remove' pk=experience.pk %}"><span class="glyphicon glyphicon-remove" style='background-color: black;'></span></a>
                <a class="button" id="edit_experience" href="{% url 'experience_edit' pk=experience.pk %}"><span class="glyphicon glyphicon-pencil" style='background-color: black;'></span></a>
                <h5>{{ experience.company }}</h5>
                <p>{{ experience.date_started }} - {{ experience.date_completed }}</p>
                <p>{{ experience.text|linebreaksbr }}</p>
            </div>
            {% endfor %}
                
        </div>
    </section>
    <section id="interests">
        <h2 id="interests_header">Interests</h2>
        <div>
            
            {% for interest in interests %}
            <div class="interest" id="interest">
                <h4>{{ interest.title }}</h4>
                <a class="button" id="remove_interest" href="{% url 'interest_remove' pk=interest.pk %}"><span class="glyphicon glyphicon-remove" style='background-color: black;'></span></a>
                <a class="button" id="edit_interest" href="{% url 'interest_edit' pk=interest.pk %}"><span class="glyphicon glyphicon-pencil" style='background-color: black;'></span></a>
                <p>{{ interest.text|linebreaksbr }}</p>
            </div>
            {% endfor %}
                
        </div>
    </section>


{% endblock %}