{% extends 'cv/cv_base.html' %}

{% block content %}
    <section id="profile">
        <h2 id="profile_header">About me</h2>
    </section>
    <section id="education">
        <h2 id="education_header">Education</h2>
        <div>
            
            {% for qualification in qualifications %}
            <div class="qualification" id="qualification">
                <h4>{{ qualification.title }}</h4>
                <p>Completed: {{ qualification.date_completed }}</p>
                <p>{{ qualification.text|linebreaksbr }}</p>
            </div>
            {% endfor %}
                
        </div>
    </section>
    <section id="experience">
        <h2 id="experience_header">Experience</h2>
    </section>
    <section id="interests">
        <h2 id="interests_header">Interests</h2>
    </section>


{% endblock %}