.page-header {
    background-color: #545b5e;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}
/* #00aeff */
.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.page-header h1 a:hover {
    color: #00aeff;
}

.content {
    margin: auto;
    width: 50%;
    
}

body {
    background: url(tj-holowaychuk-1EYMue_AwDw-unsplash.jpg) no-repeat top center fixed;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.6);
    background-blend-mode: lighten;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:visited {
    background-color: transparent;
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.top-menu:hover {
    text-decoration: none;
    color: #00aeff;
}

.cv_section {
    margin-bottom: 70px;
    padding: 10px;
    background-color: #ffffff;
    border: solid;
    border-color: #00aeff;
    border-width: 3px;
    border-radius: 15px;
}

.col-md-8 {
    width: 100%
}

.button {
    border: solid;
    border-width: 2px;
    padding: 2px;
    border-radius: 7px;
    border-color: #545b5e;
    color: #545b5e;
    text-decoration: none;
}

.button:hover {
    background-color: #545b5e;
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
}

.borderless_button {
    color: #545b5e;
}

.borderless_button:hover {
    color: #00aeff;
    transition: 0.3s;
}