{% extends "blog/base.html" %}

{% block content %}
    <div class="post" style="margin: auto; width: 50%; text-align: center;">
        {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
            <table>
            <tr>
                <td style="padding: 7px;">{{ form.username.label_tag }}</td>
                <td style="padding: 7px;">{{ form.username }}</td>
            </tr>
            <tr>
                <td style="padding: 7px;">{{ form.password.label_tag }}</td>
                <td style="padding: 7px;">{{ form.password }}</td>
            </tr>
            </table>

            <input type="submit" value="login" id="submit"/>
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
    </div>

{% endblock %}